@font-face{
    font-family: "chemi ponti";
    src: url(./Fonts/JacquesFrancoisShadow-Regular.ttf);
}
@font-face{
    font-family: "chemi ponti2";
    src: url(./Fonts/OriginalSurfer-Regular.ttf);
}
@font-face{
    font-family: "chemi ponti3";
    src: url(./Fonts/Play-Regular.ttf);
}
.text1 p{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 26.38px;
    font-family: "chemi ponti";
   
   
}
.text2 p{
    font-weight: 400;
    font-size: 16;
    line-height: 20.02px;
    font-family: "chemi ponti2";
   
}
.text3 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 18.51px;
    font-family: "chemi ponti3";
}